body{
  margin: 0;
  background-color: black;
  color:white;
}
a{
  color:white;
  text-decoration: none;
}
h1{
  margin: 0px;
  border-bottom: 1px white solid;
  font-size:45px;
  text-align: center;
  padding: 30px;
  color: white;
}
ul{
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin:0;
  border-bottom: 1px white solid;
  padding-left: 0;
  color: white;
}
p{
  margin: 0;
}
.genre{
  font-size: 20px;
  color: white;
}
@media(max-width:700px){
  ul{
    display: none;
  }
}
